ARK_API_KEY=
ARK_BASE_URL=
ARK_DEEPSEEK_MODEL=
ARK_DOUBAO_MODEL=
ARK_TIMEOUT_SECONDS=
PARSER_AI_ENABLED=
PARSER_AI_MAX_SHEETS=
PARSER_AI_OUTLINE_HARD_TOKENS=
PARSER_AI_OUTLINE_TARGET_TOKENS=
PARSER_AI_PROFILE=